<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{ .Site.Title }}</title>
      {{ partial "styles" . }}
  </head>
  <body>
    <div>
      {{ partial "menu" . }}

      <div class="tipos">
        <a href="/tipotrabajo/imagen-corporativa">Imagen corporativa</a> |
        <a href="/tipotrabajo/renders">Renders</a> |
        <a href="/tipotrabajo/carteleria">Cartelería</a> |
        <a href="/tipotrabajo/ilustracion">Ilustración</a> |
        <a href="/tipotrabajo/juegos">Juegos</a> |
        <a href="/tipotrabajo/theming">Theming</a> |
        <a href="/tipotrabajo/caligrafia">Caligrafía</a>
      </div>
    </div>
    <div class="proyectos">
     {{ range .Pages }}
      <a href="{{.URL}}"  class="proyecto" style="background-image: url({{.Params.imagen }})">
		<div>
          <p class="nombreproyecto">{{.Title}}<p>
		  <p><span>{{ .Date.Year }}</span> | <span>{{ .Params.tipo }}</span></p>
		</div>
	  </a>
      {{ end }}

    </div>
	

        <nav class="col-12 footerhome">
          <a href="/politica-de-privacidad">Política de privacidad</a>
          <a href="/aviso-legal">Aviso legal</a>
        </nav>

      {{ partial "javascript" . }}
  </body>
</html>
